.contain {
  background-color: var(--second-color);
  border-color: var(--border-color);
  /* box-shadow: 0 0 20px var(--border-color); */
}
.number {
  color: var(--text-color);
}
.block_image {
  border-color: var(--border-color);
}
.block_icon {
  color: var(--third-color);
  background-color: var(--second-color);
  border-color: var(--border-color);
}
.btn {
  background-color: var(--text-color);
  border-color: var(--border-color);
  color: var(--background-fon);
}
.title {
  color: var(--text-color);
}
