@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #00a19a;
  --text-color: #fff;
  --third-color: #2e282a;
}
[data-theme="dark-blue"] {
  --background-color: #003049;
  --text-color: #fdf0d5;
  --third-color: #c9e432;
}
[data-theme="red"] {
  --background-color: #ffd97d;
  --text-color: #ee6055;
  --third-color: #2a9d8f;
}

[data-theme="aqua"] {
  --background-color: #51e490;
  --text-color: #0f4c5c;
  --third-color: #8638ec;
}
[data-theme="white"] {
  --background-color: #eff7f6;
  --text-color: #ef233c;
  --third-color: #b7e000;
}
[data-theme="dark"] {
  --background-color: #282b29;
  --text-color: #bbdefb;
  --third-color: #ffa200;
}
[data-theme="pink"] {
  --background-color: #ff5943;
  --text-color: #fff;
  --third-color: #ffc500;
}
[data-theme="blue"] {
  --background-color: #f4c4c4;
  --text-color: #282b29;
  --third-color: #17bebb;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 2px;
  background-color: var(--background-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 2px;
}

.text-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--text-color);
  transition: width 0.4s ease;
}

.text-underline:hover::after {
  width: 120%;
}
::selection {
  background-color: var(--third-color);
  color: var(--background-color);
}
