.border {
  border-color: var(--border-color);
}
.third {
  background-color: var(--third-color);
}
.logo {
  background-color: var(--background-fon);
  color: var(--text-color);
}
.logo:hover {
  color: var(--background-fon);
  background-color: var(--text-color);
}
.block_creator {
  background-color: var(--text-color);
  transition: 0.8s;
}
.text_creator {
  color: var(--background-fon);
  transition: 0.8s;
}
.nav_text {
  color: var(--text-color);
  transition: 0.8s;
}
.nav_text:hover {
  color: var(--third-color);
}
.theme_button {
  background-color: var(--background-fon);
  border-color: var(--border-color);
  color: var(--text-color);
}
.theme_button:hover {
  background-color: var(--text-color);
  color: var(--background-fon);
  border-color: var(--third-color);
}
