.image {
  border-color: var(--border-color);
  box-shadow: 0 0 35px var(--border-color);
  animation: rotate 60s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating-box p {
  margin: 0;
}
